/* ---------- Parent ---------- */
body {
    /* background-color: #e4e4e4; */
    /* background-color: #3C4859; */
    background-color: #282828;
}

/* ---------- Matrix Canvas ---------- */
#modern-matrix-overlay {
    background-color: black;
}
#modern-matrix-about {
    color: white;
}
#sidebar {
    background-color: #353535;
    /* background-color: #343d4a; */
}
i {
    color: white;
}
.menu-item {
    color: white;
}
.menu-parent:not(.active):hover {
    background-color: #394454;
}
#about-info {
    /* border-bottom: thin solid #2e3644; */
}
.tab {
    background-color: #e4e4e4;
}
.tab + .content {
    background-color: #e4e4e4;
}
#red-tab {
    background-color: #b9394c;
}
#blue-tab,
.blue-menu {
    background-color: #247BA0;
}
#purple-tab,
.purple-menu {
    background-color: #8866BA;
}
#pink-tab,
.pink-menu {
    background-color: #B83E7F;
}
#orange-tab,
.orange-menu {
    background-color: #D55E3B;
}
#green-tab,
.green-menu {
    background-color: #35A281;
}
