/* ---------- Parent ---------- */
html, body {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

#top-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 75px;
    height: 75px;
    z-index: 99;
}
#top-menu-item {
    z-index: 100;
    min-height: 75px;
    height: 75px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding: 24px 30px;
    /* border-right: thin solid #000; */
}
/* ---------- Matrix Canvas ---------- */
.matrix-background {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clear: both;
    padding: 0;
    margin: 0;
}
#modern-matrix-wrapper {
    z-index: 1;
}
#modern-matrix-canvas {
    z-index: 2;
    flex: 1 0 100%;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
#modern-matrix-overlay {
    z-index: 3;
}
#modern-matrix-about {
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    padding: 36vh 24vw 0 24vw;
}

/* ---------- Content ---------- */
#content-wrapper {
    display: block;
    width: 100%;
    min-height: 300px;
    position: absolute;
    top: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    flex: 1 0 100%;
}
#sidebar {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    /* width: 23%; */
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    z-index: 10;
    /* height: 100%; */
    flex: 1 0 23%;
}
#content {
    display: inline-block;
    /* width: 77%; */
    /* height: 100%; */
    /* position: absolute; */
    /* top: 0; */
    /* right: 0; */
    /* overflow: hidden; */
    z-index: 10;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex: 1 0 77%;
    padding-top: 10px;
}
#social-buttons {
    display: block;
    padding: 20px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    min-height: 76px;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 15px 11%;
}
#social-buttons i {
    flex: 0 1;
    /* width: 23%; */
}
#menu {
    padding: 23px 0 23px 0;
    margin: 0;
}
.menu-item {
    display: block;
    padding: 23px 62px;
    text-align: right;
}
/*
.menu-item:first-of-type {
    padding-top: 43px;
}
.menu-item:last-of-type {
    padding-bottom: 43px;
}
*/
.menu-parent.active:after {
    content: "";
    height: 0;
    float: right;
    position: relative;
    top: -44.5px;
    left: 20px;
}
.fa-arrow-circle-o-down {
    position: relative;
    top: 30vh;
}
@media screen and (max-height: 580px) {
  .fa-arrow-circle-o-down {
      top: 15vh;
  }
}

@media screen and (max-height: 490px) {
  .fa-arrow-circle-o-down {
      top: 5vh;
  }
}

@media screen and (max-height: 400px) {
  .fa-arrow-circle-o-down {
      top: 0vh;
  }
}
@media screen and (max-width: 600px) {
  .mobile {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
  }
  #sidebar {
    display: none;
  }
  #about-info,
  #about-career .about-tabs:nth-of-type(1),
  #about-career .about-tabs:nth-of-type(2),
  #about-career .about-tabs:nth-of-type(3),
  #about-career .about-tabs:nth-of-type(5) {
    display: flex !important;
    display: -webkit-flex !important;
    display: -moz-flex !important;
  }
}
@media screen and (min-width: 601px) {
  .mobile {
    display: none !important;
  }
}
#about-career {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}
.about-tabs {
    min-height: 150px;
    /* padding: 30px; */
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}
#about-me {
    padding: 15px 15px;
}
.tab {
    flex: 1 0 5%;
    margin: 20px 0 20px 20px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    max-width: 76px;
}
.tab + .content {
    flex: 1 0 67%;
    margin: 20px 20px 20px 30px;
    padding: 15px;
    max-width: 800px;
}
table {
    height: 100%;
    width: 100%;
    max-width: 100vw;
}
table td {
    max-width: 41vw;
    height: 100%;
}
table tr td:nth-of-type(1) {
    max-width: 35%;
    width: 35%;
}
table tr td:nth-of-type(2) {
    max-width: 65%;
    width: 65%;
    padding: 15px 20px;
    vertical-align: top;
}
table tr td img {
    max-width: 100%;
}
table h4 {
    margin-top: 0;
}
