body, html {
  display: block;
  width: 100% !important;
  height: 100% !important;
  font-family: 'Roboto', sans-serif;
  color: #3b3b3b;
  margin: 0;
  padding: 0;
}
#personal-info {
  background-color: transparent;
  text-align: center;
  color: black;
  z-index: 1;
  margin: 0;
  padding: 0 0 0 0;
  position: absolute;
  top: 35%;
  width: 100%;
}
#personal-info #name {
  font-size: 45px;
  text-transform: uppercase;
}
#personal-info p {
  color: white;
  padding: 0;
  margin: 0;
}
#canvas-container {
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #09385d, #6d1010);
}
#particles-js {
  display: block;
  width: 100%;
  height: 100%;
}
.gray-section {
  background-color: #e9e9e9;
}
.content-section {
  margin: 0;
  padding: 1px 45px 20px 45px;
}
h1 {
  text-align: center;
  margin-top: 0;
  text-transform: uppercase;
}
#education-section, #experience-section, #skills-section, #projects-section {
    padding-top: 1px;
    padding-left: 35%;
    padding-right: 35%;
    padding-bottom: 20px;
}
.top-transparent {
  background-color: transparent;
}
.top-color {
  background-color: #17354d;
  display: none !important;
}
.important-rule {
  display: block !important;
}
.top-color, .button-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}
.top-button {
  margin: 5px;
  padding: 15px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  color: white;
}
.active-button {
  background-color: #bd3b3b !important;
}
.extra-info {
  font-size: 24px;
}
#footer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70px;
  text-align: center;
  background-color: #bd3b3b;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 45px;
}
#footer a {
  color: white;
}
i {
  margin: 0 10px 0 10px;
}
@media screen and (max-width: 950px) {
  #education-section, #experience-section, #skills-section, #projects-section {
    padding-top: 1px;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 750px) {
  #education-section, #experience-section, #skills-section, #projects-section {
    padding-top: 1px;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 650px) {
  #education-section, #experience-section, #skills-section, #projects-section {
      padding-top: 1px;
      padding-left: 20%;
      padding-right: 20%;
      padding-bottom: 20px;
  }
}
@media screen and (max-width: 500px) {
  #education-section, #experience-section, #skills-section, #projects-section {
    padding-top: 1px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
  }
}
