/* line 1, ../sass/retro-night-main.scss */
body {
  height: 100%;
  width: 100%;
}

/* line 5, ../sass/retro-night-main.scss */
html, body, #retro-night {
  margin: 0;
  padding: 0;
}

/* line 9, ../sass/retro-night-main.scss */
html, body {
  width: 100%;
  height: auto;
  min-height: 100vh;
}

/* line 16, ../sass/retro-night-main.scss */
body #retro-night {
  height: 100vh;
  width: 100%;
  background-color: black;
  background: url("../images/Retro night sun official.png") no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -999;
}
/* line 31, ../sass/retro-night-main.scss */
body #retro-night canvas {
  background-color: transparent;
  width: 100%;
  height: 100%;
}
/* line 37, ../sass/retro-night-main.scss */
body .portfolio {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 20px;
  color: white;
  height: auto;
  width: calc(100vw - 60px);
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}
/* line 50, ../sass/retro-night-main.scss */
body .portfolio * {
  margin: 30px;
}
/* line 53, ../sass/retro-night-main.scss */
body .portfolio .about-me {
  border-bottom: thin solid #ccc;
  padding-bottom: 30px;
}
/* line 57, ../sass/retro-night-main.scss */
body .portfolio h2 {
  margin: 10px 0;
}
/* line 60, ../sass/retro-night-main.scss */
body .portfolio .projects {
  padding-bottom: 30px;
  border-bottom: thin solid #ccc;
}
/* line 63, ../sass/retro-night-main.scss */
body .portfolio .projects h2 {
  margin-bottom: 30px;
}
/* line 66, ../sass/retro-night-main.scss */
body .portfolio .projects .project-container {
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
/* line 73, ../sass/retro-night-main.scss */
body .portfolio .projects .project-container a.project-link {
  color: white;
  text-decoration: none;
  margin: 0;
}
/* line 78, ../sass/retro-night-main.scss */
body .portfolio .projects .project-container .project-item {
  width: 350px !important;
  height: 180px !important;
  margin: 0 20px 20px 0;
  display: flex;
  flex-flow: column nowrap !important;
  justify-content: center;
  align-items: center;
}
/* line 86, ../sass/retro-night-main.scss */
body .portfolio .projects .project-container .project-item:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
/* line 90, ../sass/retro-night-main.scss */
body .portfolio .projects .project-container .project-item i {
  font-size: 50px;
}
/* line 94, ../sass/retro-night-main.scss */
body .portfolio .projects .project-container .ru-vacant {
  background-color: #10174C;
}
/* line 97, ../sass/retro-night-main.scss */
body .portfolio .projects .project-container .photos {
  background-color: #0055D4;
}
/* line 100, ../sass/retro-night-main.scss */
body .portfolio .projects .project-container .songlib {
  background-color: #2a506e;
}
/* line 103, ../sass/retro-night-main.scss */
body .portfolio .projects .project-container .retro-night {
  background: url("../images/Retro Night Screenshot.png") no-repeat;
  background-size: 100% 100%;
}
/* line 107, ../sass/retro-night-main.scss */
body .portfolio .projects .project-container .particles-js {
  background: linear-gradient(135deg, #09385d, #6d1010);
  background: url("../images/Particles Screenshot.png") no-repeat;
  background-size: 100% 100%;
}
/* line 112, ../sass/retro-night-main.scss */
body .portfolio .projects .project-container .matrix {
  background-color: black;
  background: url("../images/Matrix Screenshot.png") no-repeat;
  background-size: 100% 100%;
}
/* line 117, ../sass/retro-night-main.scss */
body .portfolio .projects .project-container .project-logo {
  width: 30%;
  margin: 0;
}
/* line 123, ../sass/retro-night-main.scss */
body .portfolio h5 {
  margin: 0;
}
/* line 126, ../sass/retro-night-main.scss */
body .portfolio .buttons {
  margin: 0 0 20px 0 !important;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 70px;
}
/* line 134, ../sass/retro-night-main.scss */
body .portfolio .buttons a {
  color: white;
  font-size: 40px;
  margin: 0;
}
/* line 138, ../sass/retro-night-main.scss */
body .portfolio .buttons a:hover {
  transform: scale(1.3);
  transition: 0.5s;
}

@media only screen and (orientation: portrait) {
  /* line 148, ../sass/retro-night-main.scss */
  body #retro-night {
    background: url("../images/Retro night sun official tall.png") no-repeat;
    background-size: 100% 100%;
    background-color: black;
  }
}
