body {
    font-family: 'Raleway', sans-serif;
}
#top-menu {
    background-color: black;
    opacity: 0.2;
    transition: .2s;
}
#top-menu-item {
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    transition: .2s;
}
#top-menu-item:hover {
    cursor: pointer;
    font-size: 20px;
    transition: .1s;
    /* background-color: black; */
}
#modern-matrix-wrapper {
    background-image: url(../images/background3.jpg);
    background-position: 0;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    overflow: hidden;
}
#modern-matrix-overlay {
    opacity: .35;
}
#modern-matrix-about {
    text-shadow: 6px 6px 15px black;
    text-align: center;
}
#typewrite:before {
    content: '\f120';
    font-family: 'FontAwesome';
    margin-right: 5px;
}
#typewrite.hide-pseudo:before {
    display: none;
}
#modern-matrix-about h1 {
    font-size: 45px;
    margin: 0 0 10px 0;
}
#modern-matrix-about h3 {
    font-size: 23.7px;
    font-weight: normal;
    margin: 0 0 10px 0;
}
#social-buttons {
    text-align: center;
    /* border-bottom: thin solid #29303c; */
    border-bottom: thin solid #000000;
}
#social-buttons a {
    height: 100%;
}
#social-buttons i {
    font-size: 40px !important;
    text-shadow: 2px 2px 5px #1b1b1b;
    transition: .1s;
}
#social-buttons i:hover {
    cursor: pointer;
    font-size: 45px !important;
    text-shadow: 4px 4px 10px #1b1b1b;
    transition: .1s;
}
#sidebar {
    border-right: thin solid #000000;
    /* border-right: thin solid #2f3a4a; */
}
.menu-item {
    font-size: 18px;
}
/*
.menu-parent.active {
    background-color: #b9394c;
    transition: .1s;
}
.menu-parent.active:after {
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #b9394c;
    transition: .1s;
}
*/
.menu-parent {
    transition: .1s;
}
.menu-parent:after {
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transition: .1s;
}
.blue-menu:after {
    border-left: 10px solid #247BA0;
}
.purple-menu:after {
    border-left: 10px solid #8866BA;
}
.pink-menu:after {
    border-left: 10px solid #B83E7F;
}
.orange-menu:after {
    border-left: 10px solid #D55E3B;
}
.green-menu:after {
    border-left: 10px solid #35A281;
}
.menu-parent:not(.active):hover {
    transition: .1s;
}
.fa-arrow-circle-o-down {
    font-size: 20px;
    display: none;
    /* opacity: .85; */
}
.tab {
    border-radius: 15px 0px 0px 15px;
    box-shadow: 2px 2px 15px #2b2b2b;
    font-size: 30px;
}
.tab + .content {
    box-shadow: 2px 2px 15px #2b2b2b;
    border-radius: 0;
}
#skills-tab img {max-width: 168%;}

#skills-tab td:nth-of-type(1) {
    overflow: hidden;
}
#about-info,
.about-tabs {
    display: none;
}
