@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

$min-vw: 320;
$max-vw: 1280;

@mixin fluid-font-size($min-size, $max-size) {
    font-size: calc(#{$min-size}px + (#{$max-size} - #{$min-size}) * ((100vw - #{$min-vw}px) / (#{$max-vw} - #{$min-vw})));
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
    font-size: 20px;
    width: 100%;
}

.open-sans.capitalized {
    text-transform: uppercase;
    letter-spacing: .2rem;
}

#particlewave-canvas {
    background-color: #282828;
    position: fixed;
    width: 95%;
    max-width: 95%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -99999;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 3rem;
}

.top-bar {
    background-color: white;
    padding: .5rem .15rem;
    height: 3rem;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    z-index: 9999999;
    box-sizing: border-box;

    .menu {
        display: flex;
        flex-flow: row nowrap;

        a {
            color: black;
            text-transform: uppercase;
            font-weight: 600;
            font-size: .75rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .35rem .5rem;
            border-radius: 1rem;
            margin-right: 1rem;
            transition: .5s;
            text-decoration: none;

            &:hover {
                background-color: #282828;
                color: white;
            }
        }
    }
}

.content-wrapper {
    color: white;
    background: rgba(0, 0, 0, .27);
    width: 95%;
    max-width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    white-space: pre-line;
    overflow: hidden;

    .intro-section {
        width: 95%;
        max-width: 95%;
        margin-top: 200px;
        padding: 30px;
        text-shadow: 0 0 10px black;

        .full-name {
            @include fluid-font-size(36, 90);
            font-weight: 600;
        }

        .description {
            @include fluid-font-size(20, 37);
            margin-top: 50px;
            max-width: 45%;
            font-weight: 450;
        }

        .socials {
            margin-top: 50px;
            max-width: 45%;
            min-width: 275px;
            margin-bottom: 30px;

            .social-button {
                color: black;
                background-color: white;
                font-size: .7rem;
                display: inline-block;
                padding: .35rem .7rem;
                border-radius: 1rem;
                text-shadow: none;
                text-decoration: none;
                margin-right: 15px;
                transition: .5s;
                margin-bottom: 15px;

                &:hover {
                    transform: scale(1.2, 1.2);
                }

                .text {
                    margin-left: 5px;
                }
            }
        }
    }

    .portfolio-section {
        background-color: #fbfbfb;
        color: black;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-left: 1px solid #f9f9f9;
        border-right: 1px solid #f9f9f9;

        .title {
            width: 100%;
            padding: 15px;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 600;
        }
        .grid {
            margin-top: 15px;
            padding: 15px 30px;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;

            .project {
                min-width: 225px;
                max-width: 100%;
                max-width: 300px;
                width: 30%;
                position: relative;
                margin-bottom: 15px;
                margin-right: 20px;
                margin-left: 20px;
                img {
                    min-height: 225px;
                    max-width: min(100%, 300px);
                    aspect-ratio: 1;
                    border-radius: 100%;
                }
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                img.display-none {
                    display: none;
                }
                #particles-js, #matrix-js {
                    border-radius: 100%;
                    overflow: hidden;
                    aspect-ratio: 1;

                    canvas {
                        min-height: 225px;
                        @media screen and (min-width: 350px) {
                            max-width: 300px;
                        }
                        max-width: 100%;
                        height: auto;
                        aspect-ratio: 1;
                    }
                }
                #particles-js {
                    background: linear-gradient(135deg, #09385d, #6d1010);
                }
                #matrix-js {
                    background-color: black;
                }
                .text {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 0;
                    color: transparent;
                    border-radius: 100%;
                    transition: .5s;
                    text-align: center;

                    &:hover {
                        background-color:rgba(0, 0, 0, .6);
                        color: white;
                    }

                    .tech-stack {
                        font-size: .6rem;

                        svg {
                            margin-right: 5px;
                        }
                    }

                    .description {
                        font-size: .8rem;
                    }
                }
            }
        }
    }
}